<!DOCTYPE html>
<html> 
    <head> 
<title>Ironbeers</title>
<link rel='stylesheet' href='/stylesheets/styles.css'/>
        </head>
<div>

<nav>
    <a href="/">Home</a>
    <a href="/beers">Beers</a>
    <a href="/random-beer">Random Beer</a>
</nav>



<img src="/images/beer.png" alt="beer" class="center">
<a href="/beers" class="button">Check the Beers!</a>
<br>
<a id="random" href="/random-beer" class="button">Check a Random Beer!</a>
<br>
</div>
<div class="footer">
  <p>Developed by Ironhack ;)</p>
</div>

</html>